body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.partido {
    width: 100%;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.partido h2 {
    font-size: 0.8em;
    margin-bottom: 10px;
    text-align: center;
}

.jugador-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.jugador-columnas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 45%;
}

.jugador-columnas label {
    font-size: 0.8em;
    text-align: center;
}

.jugador-columnas input[type="text"] {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.jugador-columnas input[readonly] {
    background-color: #e9ecef;
    color: #333;
}

input:disabled {
    background-color: #f8f9fa;
}

.contador {
    font-size: 1.2em;
    margin: 10px 0;
    text-align: center;
}

.team-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#equipo1-container {
    flex: 1;
    text-align: left;
}

#equipo2-container {
    flex: 1;
    text-align: right;
}

/* Estilos comunes para todos los botones */
.button-style {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #2243ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-style:hover {
    background-color: #435ef9;
}

.button-warning {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #FF5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-warning:hover {
    background-color: #e64a19;
}

/* Estilos para el popup modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

#popupCloseButton {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #FF5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#popupCloseButton:hover {
    background-color: #e64a19;
}

#confirmPopupYes,
#confirmPopupNo {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#confirmPopupYes {
    background-color: #FF5722;
    margin-right: 10px;
}

#confirmPopupNo {
    background-color: #ccc;
}

#confirmPopupYes:hover {
    background-color: #e64a19;
}

#confirmPopupNo:hover {
    background-color: #bbb;
}
